body {
    max-width: 1400px;
    min-width: 700px;
    max-height: 1750px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #A9A9A9;
    color: black;

    font-size: 16px;
    font-weight: normal;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'DM+Serif+Display', sans-serif;
}

#ava {

    width: 200px;
    border-radius: 30px;
}

.info-text {
    margin: 40px;
  margin-bottom: 0;

}

.info {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.Contacts {
    margin-bottom: 10px;
    padding: 20px;
    background: moccasin;
    border-radius: 40px;
}

.Skills {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 20px;
    background: skyblue;
    border-radius: 40px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

.git {
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer {
    max-width: 1000px;

    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: seashell;
}

* {
    box-sizing: border-box;
}

a:hover {
    color: #CE242B;
    text-decoration: underline;
}